@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: font1;
  src: url(./assets/fonts/static/Inter-Regular.ttf);
}
.font {
  font-family: font1;
}
@font-face {
  font-family: font-bold;
  src: url(./assets/fonts/static/Inter-Bold.ttf);
}
.font-b {
  font-family: font-bold;
}
@font-face {
  font-family: font-extra-bold;
  src: url(./assets/fonts/static/Inter-ExtraBold.ttf);
}
.font-x-b {
  font-family: font-extra-bold;
}

.section2 {
  background: #00001a;
}
